fire==0.1.2
google-cloud-bigquery==0.29.0
ipython==6.2.1
ipython-genutils==0.2.0
ipywidgets==7.1.0
jupyter==1.0.0
jupyter-client==5.2.1
jupyter-console==5.2.0
jupyter-core==4.4.0
Keras==2.1.2
matplotlib==2.1.1
notebook==5.2.2
numpy==1.14.0
pandas==0.22.0
pandas-gbq==0.3.0
requests==2.18.4
tensorflow==1.4.1
tensorflow-tensorboard==0.4.0rc3
